name: Run test
on: 
  push:
    branches: [main] 
    paths-ignore:
      - ".github/workflows/**"
  workflow_dispatch:     
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repository
        uses: actions/checkout@v6
      - name: Setup Node.js and install dependencies
        uses: ./.github/action/setupnode
        with:
          node-version: 20
      - name: Run tests
        run: npm test      
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repository
        uses: actions/checkout@v6
      - name: Setup Node.js and install dependencies
        uses: ./.github/action/setupnode
      - name: Build project
        run: npm run build
      - name: Upload dist folder
        uses: actions/upload-artifact@v4
        with:
          name: dist-folder
          path: dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download the dist folder
        uses: actions/download-artifact@v4
        with:
          name: dist-folder
          path: dist
      - name: Deploying dist folder
        run: |
          echo "Deploying dist folder..."
          ls dist/
          echo "Deployment successful!"
     