name: Hello World Workflow
on: [push]
jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repository
        run: |
          echo "Cloning the repository..."
          echo "Github context: ${{ toJson(github) }}"
          git clone https://github.com/${{github.repository}}/gha-cicd-pipeline-demo.git myfolder
          cd myfolder && ls -la
